header{
    border: 2px black solid;
    border-radius: 10px;
    text-align: center;
    background-color: aquamarine;
}
nav{
    border: 2px black solid;
    border-radius: 10px;
    background-color: lightgreen;
}
body{   
    background-color:lightskyblue;
}
#mainDescription{
    border: 2px black solid;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(255, 187, 127);
}
#non-veg, #veg, #vegan{
    
    border: 2px black solid;
    border-radius: 10px;
    background-color: rgba(255, 127, 227, 0.299);

}
.images{
    width: 500px;
    border-radius: 100px;
}
a{
    background-color: orange;
    border: black solid 2px;
    border-radius: 10px;
}
form{
    background-color: lightslategray;
    border: black solid 2px;
    border-radius: 10px;
    text-align: center;
}